tbody, th, tbody td {
    border: 1px solid #666;
}
tbody tr:nth-child(odd) {
    background-color: var(--color-primary-bg)
}
@font-face {
  font-family: AngelinaFont;
  src: url("./angelina.ttf") format("TrueType");
  font-display: block;
}
/* 方式一：分开定义 */
.me-4 {
  font-family: 'AngelinaFont', Arial, sans-serif !important;
  font-size: 30px;
  color: #888 !important;
}

.text-xl {
  font-family: 'AngelinaFont', Arial, sans-serif !important;
  font-size: 30px;
  color: #888 !important;
}

.text-xl{
font-size: 35px!important;
font-weight: bold;
}

@font-face {
    font-family: jinkaiFont;
    src: url("./jinkai.ttf") format("TrueType");
    font-display: block;
}
@font-face {
    font-family: kodeMono;
    src: url("./KodeMono-Regular.ttf") format("TrueType");
    font-display: block;
}

body ,.prose {
    font-family: jinkaiFont, sans-serif;
    font-size: 20px!important;
}

.prose p {
    font-family: jinkaiFont, sans-serif;
    font-size: 18px!important;
}
pre {
    font-family: kodeMono, sans-serif;
    font-size: 14px!important;
}

.utterances {
      max-width: 100%;
 }
